# Web framework
Flask
Flask-Cors

# Deployment server
gunicorn

# Data handling & computation
numpy
pandas

# Machine learning & deep learning
scikit-learn
tensorflow
joblib

# Audio processing
librosa
soundfile
scipy

# Visualization (optional)
matplotlib
seaborn

# Misc utilities
python-dotenv
